@font-face {
    font-family: 'Cascadia Code';
    src: url('CascadiaCode.woff2') format('woff2');
}
@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    src: url('CascadiaCodeItalic.woff2') format('woff2');
}