body {
    --paddle-padding: 5vw;
}

.paddle {
    background-color: white;
    width: 10px;
    height: 10vh;
    position: absolute;
    top: 40vh;
}

#paddle-right {
    right: var(--paddle-padding);
}

#paddle-left {
    left: var(--paddle-padding);
}