#scoreboard {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    gap: 25vw;
}

.display {
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
    color: #777;
    margin: 0;
    font-size: 5rem;
}